*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* ======= common design ========== */
.donate_btn {
    width: 160px;
    height: 56px;
    background-color: #FF5959;
    line-height: 56px;
    font-weight: 600;
    border-radius: 5px;
    text-transform: capitalize;
    border: transparent;
    color: #fff;
    margin: 0 auto;
    margin-top: 35px;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.banner_Top_text_box,.donate_amount_title_box,.donate_form,.our_donate_plan_title_box,.our_volunteer_group_title_box {
    width: 877px;
    margin: 0 auto;
    text-align: center;
}

.subtitle {
    font-size: 18px;
    padding: 0 65px;
    color: #fff;
    line-height: 28px;
}
.subtitle_plus{
    color:#707070;
}

.title {
    font-size: 45px;
    font-weight: 700;
    margin-top: 125px;
    margin-bottom: 14px;
}

/* -------- start banner section ------- */
.banner_top_area {
    background-image: url(./images/donation13.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 669px;
    background-position: center center;
}

.banner_title {
    font-size: 65px;
    margin-bottom: 25px;
    font-weight: 700;
    color: #fff;
    padding-top: 165px;
}



/* ------- end banner section ------- */

/*  ----------start donate amount  --------*/
.amount_box {
    width: 135px;
    height: 125px;
    background-color: #FAFAFA;
    font-size: 30px;
    font-weight: 700;
    line-height: 125px;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.amount_box.active {
    background-color: #FFEEEE;
    color:#FF5959;
    border: 2px solid #FF5959;
}

.amount_box_area {
    justify-content: center;
    gap: 20px;
    color: #707070;
    margin-top: 70px;
}

input[type="number"] {
    border: none;
    outline: none;
    border-bottom: 1px solid #B3B3B3;
    display: block;
    width: 95%;
    text-align: center;
    font-size: 18px;
    margin: 0 auto;
    padding-bottom: 25px;
    margin-top: 95px;
}

.donate_btn.donate_btn_plus {
    width: 170px;
    line-height: normal;
}
/*  ----------end donate amount  --------*/

/* -------------- start Our_donate_plan -----------*/
.our_donate_Plan_area{
   width:1150px;
   margin: 0 auto;
}
.our_donate_plan_card_box {
    height: 340px;
    width: 360px;
    padding: 50px 20px;
}
.box_1{ background-color:#EDF5F6;}
.box_2{ background-color: #FFEEEE;}
.box_3{ background-color: #FFF4D6;}

.donate_card_title {
    font-size: 24px;
    font-weight: 600;
    margin: 21px 0 26px;
    color: #121212;
}
.donate_card_text {
    color: #707070;
}
.our_donate_plan_caed_area {
    gap: 25px;
    margin-top: 40px;
}

  /* --------------end Our_donate_plan ------------*/

  /* --------------start our_volunteer_group ------------*/
  .our_volunteer_group_card_area {
    justify-content: center;
    margin-top: 45px;
}
 .our_volunteer_group_box{
    text-align: center;
 }
  .our_volunteer_group_img{
    width: 360px;
  }
  .our_volunteer_group_img img{
    width: 100%;
  }
  .our_volunteer_group_title{
    font-size: 24px;
    font-weight: 600;
    margin: 21px 0 10px;
    color: #121212;
  }
  /* --------------end our_volunteer_group ------------*/

  /* --------------start get_out_update ------------*/
  section.get_update {
    width: 810px;
    margin: 0 auto;
}

.get_update_title_box {
    text-align: center;
}

.get_update_form_area {   
    height: 200px;
    background-color: #FFEEEE;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 45px 0 115px;
    font-weight: 500;
}

input[type="text"] {
    height: 48px;
    padding-left: 20px;
    border: none;
    background: #D9D9D9;
    color: #AA9F9F;
    width: 245px;
    outline: none;
}

button {
    padding: 16px 40px;
    border: none;
    color: #fff;
    background-color: #FF5959;
    margin: -5px;
}
  /* --------------end get_out_update ------------*/

  /* ========= footer ========== */
  footer {
    padding: 45px 0 40px;
    background-color: black;
    color: #fff;
    text-align: center;
}

footer h2 {
    margin-bottom: 25px;
    font-size: 36px;
    font-style: italic;
    color: #FF5959;
    font-family: 'Lobster', cursive;
}